@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card-bg: #FFFFFF;
    --stroke-color: #E2E8F0;
    --text-color: #1C2434;
    --text-color-secondary: #64748B;
    --scrollbar-thumb-bg: rgba(156, 163, 175, 0.5);
    --scrollbar-thumb-hover-bg: rgba(107, 114, 128, 0.7);
  }

  .dark {
    --card-bg: #1A222C; /* box-dark */
    --stroke-color: #333A48; /* strokedark */
    --text-color: #FFFFFF;
    --text-color-secondary: #9CA3AF;
    --scrollbar-thumb-bg: rgba(100, 116, 139, 0.5);
    --scrollbar-thumb-hover-bg: rgba(148, 163, 184, 0.7);
  }

  body {
    color: var(--text-color);
  }

  select option {
    background-color: var(--card-bg);
    color: var(--text-color);
  }
}


/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-bg);
}